<div class="row stacked" style="background: #2D3945;">
		<div class="col-md-2">
			<div class="row">
				<div class="x-widget-timeline">
				    <div class="x-widget-timelime-head">
				        <h3>Net Worth</h3>
				        <div class="pull-right"><a href="#">Refresh <span class="fa fa-refresh"></span></a></div>
				    </div>
				    <div class="x-widget-timeline-content">
				        <%@net_worth[:accounts].each do|master_account_type|%>
				          <div class="item item-<%=master_account_type[:code]%>" style="padding-right: 0px!important; width: 100%;">
											<div>
													<strong><%=master_account_type[:name]%></strong>
													<div class="pull-right"><%=number_to_currency(master_account_type[:total])%></div>
											</div>
				              <%master_account_type[:accounts].each do|account_type|%>
				                <div class="" style="padding-right: 0px!important; width: 100%;">

													<div>
															<strong><%=account_type[:name]%></strong>
															<div class="pull-right"><%=number_to_currency(account_type[:total])%></div>
													</div>

				                </div>
				              <%end%>
				          </div>
				        <%end%>

				        <div class="btn btn-default btn-block"><%=number_to_currency(@net_worth[:total])%></div>
				    </div>
				</div>
			</div>
			<div class="row">
				Goal Savings
			</div>
		</div>
		<div class="col-md-8">
			<%=render 'main_chart'%>
			<%=render 'categories'%>
		</div>
		<div class="col-md-2">
			<div class="x-widget-timeline">
				<div class="row">
					<div class="col-md-6" style="padding: 0px 0px 0px 5px;">
							<a href="#" class="tile tile-primary" style="margin-bottom:5px!important;">
									57%
									<p>New Visitors</p>
									<div class="informer informer-danger dir-tr"><span class="fa fa-caret-down"></span></div>
							</a>
					</div>
					<div class="col-md-6" style="padding: 0px 5px 0px 5px;">
							<a href="#" class="tile tile-primary"  style="margin-bottom:5px!important;">
									57%
									<p>New Visitors</p>
									<div class="informer informer-danger dir-tr"><span class="fa fa-caret-down"></span></div>
							</a>
					</div>
					<div class="col-md-6" style="padding: 0px 0px 0px 5px;">
							<a href="#" class="tile tile-primary">
									57%
									<p>New Visitors</p>
									<div class="informer informer-danger dir-tr"><span class="fa fa-caret-down"></span></div>
							</a>
					</div>
					<div class="col-md-6" style="padding: 0px 5px 0px 5px;">
							<a href="#" class="tile tile-primary">
									57%
									<p>New Visitors</p>
									<div class="informer informer-danger dir-tr"><span class="fa fa-caret-down"></span></div>
							</a>
					</div>
				</div>

				<div class="row" style="padding:5px 5px;">
					<div class="panel panel-primary">
							<div class="panel-body" style="padding:5px!important; background-color: #33414e;">

									<%= content_tag :div," ",id: "monthlyexpensesreport", data: {overallsummarymonths: report_months_data,monthlyexpenses: report_expenses_data}%>

							</div>
							<div class="panel-body list-group">
									<table style="width: 100%;">
										<tr>
											<td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;"></td>
											<td style="text-align:center;padding: 10px 0px;width: 30%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;">YTD</td>
											<td style="text-align:center;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-top: 1px solid #E5E5E5;border-bottom: 1px solid #E5E5E5;">Yearly</td>
										</tr>
										<tr>
											<td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Budget</td>
											<td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$350000</td>
											<td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$350000</td>
										</tr>
										<tr>
											<td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Savings</td>
											<td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
											<td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
										</tr>
										<tr>
											<td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Expenses</td>
											<td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
											<td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
										</tr>
										<tr>
											<td style="padding: 10px 0px 10px 15px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Variance</td>
											<td style="text-align:right;padding: 10px 0px;width: 30%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
											<td style="text-align:right;padding: 10px 15px 10px 0px;width: 35%;line-height: 20px;border-bottom: 1px solid #E5E5E5;">$35000</td>
										</tr>
									</table>
							</div>
					</div>
				</div>
				<div class="row">
					Spend vs Budget Graph

				</div>
			</div>
		</div>
</div>
