<div class="row stacked" style="background: #2D3945;">
		<div class="col-md-2">
			<%=render 'net_worth'%>
			<%=render 'goals'%>
		</div>
		<div class="col-md-8">
			<%=render 'main_chart'%>
			<%=render 'categories'%>
		</div>
		<div class="col-md-2">
			<%=render 'current_budget_status'%>
			<%=render 'expense_details'%>
		</div>
</div>
