<!-- START ALERTS -->
<% if @master_category.errors.any? %>
  <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> <%= pluralize(@master_category.errors.count, "error") %> prohibited this master_category from being saved:
      <ul>
      <% @master_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<%end%>
<!-- END ALERTS -->

<%= form_for(@master_category,html: {class: "form-horizontal"}) do |f| %>
<div class="panel-body">

  <div class="form-group">
      <%= f.label :name, {class: "col-md-3 col-xs-12 control-label"}%>
      <div class="col-md-6 col-xs-12">
          <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
              <%= f.text_field :name, {class: "form-control"} %>
          </div>
          <span class="help-block">This is sample of text field</span>
      </div>
  </div>
</div>

<div class="panel-footer">
    <%= link_to 'Back', master_categories_path, {class: "btn btn-default"} %>
    <%= f.submit nil, {class: "btn btn-primary pull-right"} %>
</div>

<% end %>
