<!-- START ALERTS -->
<% if flash[:error]%>
  <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> <%= flash[:error]%>
  </div>
<%end%>
<% if flash[:notice]%>
  <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Success!</strong> <%= flash[:notice]%>
  </div>
<%end%>
<!-- END ALERTS -->

<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
  <li><%=link_to "Admin",admin_index_path -%></li>
  <li class="active">Master Categories</li>
</ul>
<!-- END BREADCRUMB -->

<div class="content-frame">

  <!-- START PAGE HEAD -->
  <div class="content-frame-top">
    <div class="page-title">
      <h2><span class="fa fa-bookmark-o"></span> Master Categories</h2>
    </div>
    <div class="pull-right">
      <button class="btn btn-success btn-rounded"><span class="fa fa-plus"></span> New</button>
      <%= link_to 'New Master category', new_master_category_path %>
    </div>
  </div>
  <!-- END PAGE HEAD -->

  <div class="content-frame-right" style="height: 786px;">
    <div class="">
      <h4>Master Category Description</h4>
    </div>
    <div class="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam bibendum erat eget libero pretium, vestibulum egestas metus pretium. Nam non ipsum diam. Phasellus augue neque, cursus mollis tincidunt a, viverra eget nisl. Nunc luctus scelerisque viverra. Quisque molestie cursus augue, ut porttitor massa tempus eu. Curabitur sit amet facilisis arcu. Aenean dictum dictum dignissim. Sed mollis, nisl at ullamcorper consectetur, turpis leo volutpat metus, quis iaculis nibh magna ut lectus. Donec tristique volutpat pharetra. Fusce quis sem in dui bibendum egestas. Fusce euismod venenatis fermentum. Aenean non lobortis magna. Sed placerat finibus elementum. Aliquam a pretium nulla. Aliquam at pretium nulla.</p>
      <p>Nulla ullamcorper, velit ac molestie molestie, ex turpis vehicula magna, in porta nisl massa at nulla. In a nulla eu nibh mattis volutpat. Cras auctor congue ligula, eu porta nisl. Nunc tempus nunc quis enim ullamcorper egestas. Donec molestie luctus est. In sit amet nulla nunc. Duis ac fringilla quam. Integer ac ante non felis imperdiet elementum viverra vitae enim. Nulla sed magna cursus, ultrices metus eget, convallis quam. Ut ut placerat purus. Sed porta id neque sit amet venenatis.</p>
    </div>
  </div>
  <div class="content-frame-body content-frame-body-left" style="height: 846px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">List of Master Categories</h3>
        <ul class="panel-controls">
          <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
          <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
          <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>
      </div>
      <div class="panel-body panel-body-table">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-actions table-hover">
              <thead>
                  <tr>
                      <th width="50">id</th>
                      <th>name</th>
                      <th width="100">display</th>
                      <th width="120">actions</th>
                  </tr>
              </thead>
              <tbody>
                <% @master_categories.each_with_index do |master_category,index| %>
                  <tr id="trow_<%=index+1-%>">
                    <td class="text-center"><%=index+1-%></td>
                    <td><strong><%= master_category.name %></strong></td>
                    <td><%= master_category.display %></td>
                    <td>
                      <%= link_to raw("<span class='fa fa-pencil'></span>"), edit_master_category_path(master_category), :class=>"btn btn-default btn-rounded btn-condensed btn-sm" %>
                      <%= link_to raw("<span class='fa fa-times'></span>"), master_category, class: "btn btn-danger btn-rounded btn-condensed btn-sm", method: :delete, data: { confirm: 'Are you sure?'}, onClick: "delete_row('trow_#{index+1}');"%>
                   </td>
                 </tr>
                <% end %>
              </tbody>
          </table>
      </div>

      </div>

    </div>

  </div>
</div>
