<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @master_category.name %>
</p>

<p>
  <strong>Display:</strong>
  <%= @master_category.display %>
</p>

<%= link_to 'Edit', edit_master_category_path(@master_category) %> |
<%= link_to 'Back', master_categories_path %>
