<div class="row" style="padding-top: 60px;">
  <%
    change_value = @share.get_percent_change_value
    purchase_cost = @share.get_purchase_cost
    profit_loss_value = @share.get_profit_loss_value
    profit_loss_percentage = @share.get_profit_loss_percentage
  %>
  <div class="col-md-3">

    <a href="#" class="tile tile-default">
        <span class="fa fa-line-chart" style="float:left;"></span>
        <%if @share.sell_price.nil?%>
          <%=@share.code%>
        <%else%>
          SOLD
        <%end%>
        <p><%=@share.share_details.nil? ? @share.name : @share.share_details.name%></p>
    </a>

  </div>


  <div class="col-md-3">

    <a href="#" class="tile tile-default">
        <%if @share.sell_price.nil?%>
          <%=number_to_currency(@share.last_price, precision: 2)%>
          <p>Last Transaction Price</p>
        <%else%>
          <%=number_to_currency(@share.sell_price, precision: 2)%>
          <p>Sold Price</p>
        <%end%>

        <div class="informer informer-primary"><%=Date.today%></div>
        <div class="<%= change_value > 0 ? 'informer informer-success dir-tr' : 'informer informer-danger dir-tr' %>">
          <span class="<%= change_value > 0 ? 'fa fa-caret-up' : 'fa fa-caret-down'%>"></span>
        </div>
    </a>

  </div>

  <div class="col-md-3">

    <a href="#" class="tile tile-default">
      <%if @share.sell_price.nil?%>
        <%=number_to_currency(@share.get_holding_value, precision: 2)%>
        <p>Market Value</p>
      <%else%>
        <%=number_to_currency(@share.sell_price * @share.units, precision: 2)%>
        <p>Total Sale Price</p>
      <%end%>


    </a>

  </div>

  <div class="col-md-3">

    <a href="#" class="tile tile-default">
      <%if @share.sell_price.nil?%>
        <span class="<%= change_value > 0 ? 'text-success' : 'text-danger' %>">
          <%=number_to_currency(@share.get_percent_change_value, precision: 2)%>
        </span>
        <p>Day Gain/Loss</p>
        <div class="<%= change_value > 0 ? 'informer informer-success' : 'informer informer-danger' %>">
          <%=@share.share_details.percent_change%>
        </div>
        <div class="<%= change_value > 0 ? 'informer informer-success dir-tr' : 'informer informer-danger dir-tr' %>">
          <span class="<%= change_value > 0 ? 'fa fa-caret-up' : 'fa fa-caret-down'%>"></span>
        </div>
      <%else%>
        <%gainloss = (@share.sell_price * @share.units)-@share.get_holding_value%>
        <span class="<%= gainloss > 0 ? 'text-success' : 'text-danger' %>">
          <%=number_to_currency(gainloss, precision: 2)%>
        </span>
        <p>Gain/Loss</p>

        <div class="<%= gainloss > 0 ? 'informer informer-success dir-tr' : 'informer informer-danger dir-tr' %>">
          <span class="<%= gainloss > 0 ? 'fa fa-caret-up' : 'fa fa-caret-down'%>"></span>
        </div>
      <%end%>


    </a>
  </div>

</div>

<div class="row">
  <div  class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12" style="height:300px;">
          <%= content_tag :div," ",id: "sharechart", data: {sharepricehistory: share_price_history_data}%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
		<div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading chart-heading">
            <h4 class="panel-title">Share Details</h4>
            <ul class="panel-controls">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            </ul>
        </div>
          <table class="table table-striped">
            <tr>
                <td style="padding:6px;">Share Type:</td>
                <td style="padding:6px;"><%=@share.share_type%></td>
                <td style="padding:6px;">Purchase Price:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.purchase_price,pricision: 2)%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Exchange:</td>
                <td style="padding:6px;"><%=@share.share_details.stock_exchange%></td>
                <td style="padding:6px;">Units:</td>
                <td style="padding:6px;"><%=@share.units%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Purchase Date:</td>
                <td style="padding:6px;"><%=@share.purchase_date%></td>
                <td style="padding:6px;">Total Cost:</td>
                <td style="padding:6px;"><%=number_to_currency(purchase_cost)%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Ex Dividend Date:</td>
                <td style="padding:6px;"><%=@share.share_details.ex_dividend_date%></td>
                <td style="padding:6px;">Market Value:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.get_holding_value,pricision: 2)%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Profit/Loss %:</td>
                <td style="padding:6px;" class="<%= profit_loss_value > 0 ? 'text-success' : 'text-danger' %>"><%=profit_loss_percentage.to_f.round(2)%>%</td>
                <td style="padding:6px;">Profit/Loss:</td>
                <td style="padding:6px;" class="<%= profit_loss_value > 0 ? 'text-success' : 'text-danger' %>"><%=number_to_currency(profit_loss_value,pricision: 2)%></td>
            </tr>
          </table>

      </div>
		</div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading chart-heading">
            <h4 class="panel-title">Trading Details</h4>
            <ul class="panel-controls">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            </ul>
        </div>
          <table class="table table-striped">
            <tr>
                <td style="padding:6px;">Days High:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.share_details.days_high,pricision: 2)%></td>
                <td style="padding:6px;">Days Low:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.share_details.days_low,pricision: 2)%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Year High:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.share_details.year_high,pricision: 2)%></td>
                <td style="padding:6px;">Year Low:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.share_details.year_low,pricision: 2)%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Market Cap:</td>
                <td style="padding:6px;">$<%=@share.share_details.market_capitalization%></td>
                <td style="padding:6px;">EBITDA:</td>
                <td style="padding:6px;">$<%=@share.share_details.ebitda%></td>
            </tr>
            <tr>
                <td style="padding:6px;">EPS:</td>
                <td style="padding:6px;"><%=number_to_currency(@share.share_details.earnings_share,pricision: 2)%></td>
                <td style="padding:6px;">PE Ratio:</td>
                <td style="padding:6px;"><%=@share.share_details.pe_ratio%></td>
            </tr>
            <tr>
                <td style="padding:6px;">Last Trade Date:</td>
                <td style="padding:6px;"><%=@share.share_details.last_trade_date%></td>
                <td style="padding:6px;">Last Trade Time:</td>
                <td style="padding:6px;"><%=@share.share_details.last_trade_time%></td>
            </tr>
          </table>

      </div>
		</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading chart-heading">
          <h4 class="panel-title">Transactions</h4>
          <ul class="panel-controls">
              <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
              <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
          </ul>
      </div>
      <div class="panel-body">
        <div class="panel panel-default">
          <table class="table table-striped">
            <thead>
              <th style="text-align:center;">Date</th>
              <th style="text-align:right;">Transaction Type</th>
              <th style="text-align:right;">From Account</th>
              <th style="text-align:right;">To Payee</th>
              <th style="text-align:right;">Amount</th>
              <th style="text-align:right;">Comments</th>
            </thead>
            <%@share.account_transactions.each do |account_transaction|%>
            <tr>
                <td style="padding:6px;"><%=account_transaction.transaction_date.to_date%></td>
                <td style="padding:6px;text-align:right;">Sale/Purchase</td>
                <td style="padding:6px;text-align:right;"><%=account_transaction.account.name unless account_transaction.account.nil? %></td>
                <td style="padding:6px;text-align:right;"><%=account_transaction.payee.name unless account_transaction.payee.nil?%></td>
                <td style="padding:6px;text-align:right;"><%=account_transaction.amount%></td>
                <td style="padding:6px;text-align:right;"><%=account_transaction.comments%></td>
            </tr>
            <%end%>
            <%@share.dividened_incomes.each do |dividened_income|%>
            <tr>
                <td style="padding:6px;"><%=dividened_income.created_at.to_date%></td>
                <td style="padding:6px;text-align:right;">Dividend</td>
                <td style="padding:6px;text-align:right;">&nbsp;</td>
                <td style="padding:6px;text-align:right;"><%=dividened_income.account.name%></td>
                <td style="padding:6px;text-align:right;"><%=dividened_income.amount%></td>
                <td style="padding:6px;text-align:right;"><%=dividened_income.description%></td>
            </tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
<%if @share.sell_price.nil?%>
<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Sell', sell_share_path(@share), {:remote => true, class: 'new-account-transaction-modal-link'} %> |
<%end%>
<%= link_to 'Back', shares_path %>
<div class="modal fade" id="sellShareTransactionModal" tabindex="-1" role="dialog" aria-labelledby="sellShareTransactionModalLabel" aria-hidden="true"></div>
