<div data-highcharts="mortgage_area_chart">test</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase date:</strong>
  <%= @house.purchase_date %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @house.price_paid %>
</p>

<p>
  <strong>Original balance:</strong>
  <%= @house.original_balance %>
</p>

<p>
  <strong>Current value:</strong>
  <%= @house.current_value %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @house.interest_rate %>
</p>

<p>
  <strong>Term length:</strong>
  <%= @house.term_length %>
</p>

<p>
  <strong>Term start date:</strong>
  <%= @house.term_start_date %>
</p>

<p>
  <strong>Mortgage account:</strong>
  <%= @house.mortgage_account_id %>
</p>

<p>
  <strong>Offset account:</strong>
  <%= @house.offset_account_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>


---------
<p>
  <strong>Mortgage_paid:</strong>
  <%= @mortgage_paid %>
</p>
<p>
  <strong>Mortgage Paid:</strong>
  <%= @mortgage_payments.count %> months
  <%= (@mortgage_payments.count.months/1.year).round(2) %> years
</p>

<p>
  <strong>Mortgage Paid with Offset:</strong>
  <%= @mortgage_payments_with_offset.count %> months
  <%= (@mortgage_payments_with_offset.count.months/1.year).round(2) %> years
</p>

<%= content_tag :div," ",id: "mortgagechart", data: {mortgagepayments: mortgage_payments_data,mortgagewithoffsetpayments: mortgage_with_offset_payments_data}%>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
