<!-- START RESPONSIVE TABLES -->
<div id="budget-transactions-list">
	<div class="panel panel-default">

			<div class="panel-heading">
					<h3 class="panel-title"><%=@budget_item.category.name -%> Transactions</h3>
			</div>

			<div class="panel-body panel-body-table">

					<div class="table-responsive">
							<table class="table table-bordered table-striped table-actions">
									<thead>
											<tr>
													<th>From account</th>
													<th>To payee</th>
													<th width="100">Date</th>
													<th width="100">Debit</th>
													<th width="100">Credit</th>
													<th width="300">Comments</th>
													<th width="120">actions</th>
											</tr>
									</thead>
									<tbody>
											<%@budget_item.budget_transactions.each do |budget_transaction|%>
											<tr id=<%=budget_transaction.id%> >
												<td><strong><%=budget_transaction.account.name%></strong></td>
												<td><strong><%=budget_transaction.payee.name%></strong></td>
												<td><%=budget_transaction.transaction_date%></td>
												<td><%=number_to_currency(budget_transaction.debit)%></td>
												<td><%=number_to_currency(budget_transaction.credit)%></td>
												<td><%=budget_transaction.comments%></td>
												<td>
														<%unless @budget_item.complete%>
															<%=link_to edit_budget_item_transaction_path(budget_transaction),remote: true, class: "btn btn-default btn-rounded btn-condensed btn-sm" do %>
																<span class="fa fa-pencil"></span>
															<%end%>
														<% unless budget_transaction.reconciled%>
															<%= link_to budget_transaction, remote: true, method: :delete,  data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-rounded btn-condensed btn-sm" do %>
															  <span class="fa fa-times"></span>
															<% end %>
														<% else	-%>
															<%=image_tag 'cleared-icon.png'%>
														<% end -%>
														<%else -%>
															<span class="fa fa-lock"></span>
															<% if budget_transaction.reconciled%>
																<%=image_tag 'cleared-icon.png'%>
															<%end%>
														<%end%>
												</td>
											</tr>
											<%end%>
									</tbody>
							</table>
					</div>

			</div>
	</div>
	<!-- END RESPONSIVE TABLES -->
</div>
