<!-- START PROJECTS BLOCK -->
<div id="update_budget_progress" class="panel panel-default">
  <label class="switch">
  <%= check_box_tag "completed1", "test", false,{onchange: "$(this).data('params', 'completed=' + this.checked)",
    data: {
      remote: true,
      url: url_for(controller: :tasks, action: :complete_task, id: 1, budget_id: @budget.id),
      method: "POST"
    }}
  %>
  <span></span>
</label>
    <div class="panel-heading">
        <div class="panel-title-box">
            <h3>Budget Clearing Status</h3>
            <span>Track clearance of Credit Cards</span>
        </div>
        <ul class="panel-controls" style="margin-top: 2px;">
            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body panel-body-table">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="20%">Account</th>
                        <th width="10%">Balance</th>
                        <th width="10%">Statement Balance</th>
                        <th width="10%">Paid</th>
                        <th width="10%">Reconciled</th>
                        <th width="10%">Documented</th>
                        <th width="30%">Progress</th>
                    </tr>
                </thead>
                <tbody>
                  <% @budget.budget_accounts.each do |budget_account| %>
                  <% if budget_account.account.account_type.name == "Credit" %>
                  <tr>
                      <td><strong><%=budget_account.account.name%></strong></td>
                      <td><span class="label label-danger"><%=budget_account.balance%></span></td>
                      <td>
                          <%=number_field_tag "statement_balance", budget_account.statement_balance,{step: :any,onchange: "$(this).data('params', 'statement_balance=' + this.value)",
                            data: {
                              remote: true,
                              url: url_for(action: :update_progress, id: @budget.id,budget_account_id: budget_account.id),
                              method: "POST"
                            },style: "text_align: right;border: none; background: inherit;"}%>
                      </td>
                      <td>
                          <label class="switch">
                            <%= check_box_tag "is_paid", budget_account.paid, budget_account.paid,{onchange: "$(this).data('params', 'is_paid=' + this.checked)",
                              data: {
                                remote: true,
                                url: url_for(action: :update_progress, id: @budget.id,budget_account_id: budget_account.id),
                                method: "POST"
                              }}%>
                            <span></span>
                          </label>
                      </td>
                      <td>
                        <label class="switch">
                          <%= check_box_tag "is_reconciled", budget_account.reconciled, budget_account.reconciled,{onchange: "$(this).data('params', 'is_reconciled=' + this.checked)",
                            data: {
                              remote: true,
                              url: url_for(action: :update_progress, id: @budget.id,budget_account_id: budget_account.id),
                              method: "POST"
                            }}%>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="switch">
                          <%= check_box_tag "is_documented", budget_account.documented, budget_account.documented,{onchange: "$(this).data('params', 'is_documented=' + this.checked)",
                            data: {
                              remote: true,
                              url: url_for(action: :update_progress, id: @budget.id,budget_account_id: budget_account.id),
                              method: "POST"
                            }}%>
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <%progress_percentage = budget_account.get_progress_percentage%>
                        <div class="progress-list">
                            <div class="pull-left"><strong><%=budget_account.account.name%> clearing status</strong></div>
                            <div class="pull-right"><%=progress_percentage%>%</div>
                            <div class="progress progress-small progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: <%=progress_percentage%>%;"><%=progress_percentage%>%</div>
                            </div>
                        </div>
                      </td>
                  </tr>
                  <%end%>
                  <%end%>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- END PROJECTS BLOCK -->
