<div>
	<div class="col-md-4 budget-totals-container">
		<div class="budget-totals-content">
			<table class="budget-totals-table">
				<tr>
					<td style="width:45%;text-align:left;padding-left:10px;font-size: 12px;">Budget</td>
					<td>Budgeted</td>
					<td>Expense</td>
					<td style="border-right:none;">Balance</td>
					<td class="numeric-cell" style="width:10%;border: none;">&nbsp;</td>
				</tr>
				<tr>
					<td style="width:45%;">&nbsp;</td>
					<td><%=number_to_currency(@budget.budget_items.sum(:budgeted_amount), precision: 2)%></td>
					<td><%=number_to_currency(@budget.budget_items.sum(:expenses), precision: 2)%></td>
					<td style="border-right:none;"><%=number_to_currency(@budget.budget_items.sum(:balance), precision: 1)%></td>
					<td class="numeric-cell" style="width:10%;border: none;"></td>
				</tr>
			</table>	
		</div>
	</div>
	<div class="col-md-4 budget-totals-container">
		<div class="budget-totals-content">
			<table class="budget-totals-table">
				<tr>
					<td style="width:44%;text-align:left;padding-left:10px;font-size: 12px;">Miscellaneous</td>
					<td>Misc Balance</td>
					<td style="border-right:none;" style="width:20%;">Total</td>
					<td class="numeric-cell" style="width:10%;border: none;">&nbsp;</td>
				</tr>
				<tr>
					<td style="width:44%;">
					</td>
					<td><%=number_to_currency(@misc_budget_item.balance, precision: 2)%></td>
					<td style="border-right:none;width:17%;"><%=number_to_currency(@misc_budget_item.expenses, precision: 2)%></td>
					<td class="numeric-cell" style="width:10%;border: none;"></td>
				</tr>
			</table>	
		</div>
	</div>
	<div class="col-md-4 budget-totals-container">
		<div class="budget-totals-content">
			<table class="budget-totals-table">
				<tr>
					<td style="width:43%;text-align:left;padding-left:10px;font-size: 12px;">Savings</td>
					<td>Savings Details</td>
					<td style="border-right:none;" style="width:20%;">Savings</td>
					<td class="numeric-cell" style="width:10%;border: none;">Expenses</td>
				</tr>
				<tr>
					<td style="width:43%;">
					</td>
					<td><%=number_to_currency(@budget.budget_transactions.savings_transactions.sum(:credit), precision: 2)%></td>
					<td style="border-right:none;width:17%;"><%=number_to_currency(@budget.budget_transactions.savings_expense_transactions.sum(:debit), precision: 2)%></td>
					<td class="numeric-cell" style="width:10%;border: none;"></td>
				</tr>
			</table>	
		</div>
	</div>
</div>