<%
	budget_rows = 0
	misc_rows = 0
%>
<div class="budget" style="z-index: -1000;width:inherit;">
	<div class="col-md-4 budget-main-container">
		<div class="budget-content-container">
			<table class="table table-condensed table-hover actions-table">
			<%@budget.display_budget_items.each do |display_item|%>
			<%budget_rows += 1%>
				<tr>
					<td class="master-cell" style="width:33%;">
						<%=display_item.master_category.name%>
					</td>
					<td class="master-cell" style="width:13%;">
						&nbsp;
					</td>
					<td class="numeric-cell master-cell"><%=number_to_currency(display_item.budgeted, precision: 1) %></td>
					<td class="numeric-cell master-cell"><%=number_to_currency(display_item	.expenses, precision: 1)%></td>
					<td class="numeric-cell master-cell" style="border-right:none;"><%=number_to_currency(display_item.balance, precision: 1)%></td>
					<td class="actions-cell master-cell" style="">
						&nbsp;
					</td>
				</tr>
				<%display_item.categorised_items.each do |budget_item|%>
				<%budget_rows += 1%>
					<tr>
						<td style="width:33%;">
							<%unless budget_item.comment.nil? || budget_item.comment.length < 1%> 
								<span class="glyphicon glyphicon-tag" style='color: #999;' aria-hidden="true"></span> 
							<%end%> 
							<%if budget_item.complete%> 
								<span class="glyphicon glyphicon-lock" style='color: #999;' aria-hidden="true"></span>	
							<%end%> 
							<%if !budget_item.complete && (budget_item.comment.nil? || budget_item.comment.length < 1)%> 
								&nbsp;&nbsp;&nbsp;
							<%end%>
							<%=budget_item.category.name%>
						</td>
						<td style="width:13%;">
							<%unless budget_item.payment_date.nil?%> 
								<%=budget_item.payment_date.to_formatted_s(:short)%>
							<%end%>
						</td>
						<td class="numeric-cell"><%=number_to_currency(budget_item.budgeted_amount, precision: 1) %></td>
						<td class="numeric-cell"><%=number_to_currency(budget_item.expenses, precision: 1)%></td>
						<td class="numeric-cell" style="border-right:none;"><%=number_to_currency(budget_item.balance, precision: 1)%></td>
						<td class="actions-cell">
							<div class="actions">
							<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
							 	edit_budget_item_path(budget_item), {:remote => true, class: 'edit-budget-item-modal-link'} %>
							<%= link_to raw("<span class='caret' style='color: #999;'></span>"), 
								budget_item_path(budget_item), {:remote => true} %>
							</div>
						</td>
					</tr>
					<tr id=<%=budget_item.id.to_s + '_details'%> style="display:none;"></tr>	
				<%end%>
			<%end%>
			</table>
		</div>
	</div>

<!-- Miscellaneous Transactions Container -->

	<div class="col-md-4 budget-main-container">
		<div class="budget-content-container">
			<table class="table table-condensed table-hover actions-table">
			<%@budget.display_miscellaneous_items.each do |misc_display_item|%>
			<%misc_rows += 1%>
				<tr>
					<td class="master-cell" style="width:33%;">
						<%=misc_display_item.master_category.name%>
					</td>
					<td class="master-cell" style="width:13%;">
						&nbsp;
					</td>
					<td class="numeric-cell master-cell">&nbsp;</td>
					<td class="numeric-cell master-cell" style="border-right:none;width: 17%;"><%=number_to_currency(misc_display_item.expenses, precision: 1)%></td>
					<td class="actions-cell master-cell">&nbsp;</td>
				</tr>
				<%misc_display_item.categorised_items.each do |misc_txn|%>
				<%misc_rows += 1%>
					<tr>
						<td style="width:30%;">
							<%unless misc_txn.comments.nil?%> 
								<span class="glyphicon glyphicon-tag" style='color: #999;' aria-hidden="true"></span> 
							<%else%> 
								&nbsp;&nbsp;&nbsp; 
							<%end%> 
							<%=misc_txn.category.name%>
						</td>
						<td style="width:13%;">
							<%unless misc_txn.transaction_date.nil?%> 
								<%=misc_txn.transaction_date.to_formatted_s(:short)%>
							<%end%>
						</td>
						<td class="numeric-cell"><%=misc_txn.payee.name%></td>
						<td class="numeric-cell" style="border-right:none;width: 17%;"><%=number_to_currency(misc_txn.debit-misc_txn.credit, precision: 1) %></td>
						<td class="actions-cell" style="">
							<div class="actions">
								<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
								 	edit_budget_transaction_path(misc_txn,transaction_type: 'miscellaneous'), {:remote => true, class: 'new-transaction-modal-link'} %>
								<%= link_to raw("<span class='glyphicon glyphicon-remove-circle' style='color: #999;' aria-hidden='true'></span>"), misc_txn, method: :delete,  data: { confirm: 'Are you sure?' }%>
							</div>
						</td>
					</tr>
					<tr id=<%=misc_txn.id.to_s + '_misc_txn_details'%> style="display:none;"></tr>	
				<%end%>
			<%end%>
			<%blank_rows = budget_rows - misc_rows%>
			<%if blank_rows > 0%>
				<% (1..blank_rows).each do |i| %>
					<tr>
						<td style="width:30%;">&nbsp;</td>
						<td style="width:13%;"></td>
						<td class="numeric-cell"></td>
						<td class="numeric-cell" style="border-right:none;width: 17%;"></td>
						<td class="actions-cell"></td>
					</tr>
				<%end%>
			<%end%>			
			</table>
		</div>
	</div>	

<!-- Savings Transactions Container	 -->
	<div class="col-md-4 budget-main-container">
		<div class="budget-content-container">
			<table class="table table-condensed table-hover actions-table">
				<tr><td class="master-cell" colspan=5>Savings</td></tr>
					<%@budget.budget_transactions.savings_transactions.each do |sav_txn|%>
					<tr>
						<td style="width:30%;">
							<%unless sav_txn.comments.nil?%> 
								<span class="glyphicon glyphicon-tag" style='color: #999;' aria-hidden="true"></span> 
							<%else%> 
								&nbsp;&nbsp;&nbsp; 
							<%end%> 
							<%=sav_txn.account.name%>
						</td>
						<td style="width:13%;">
							<%unless sav_txn.transaction_date.nil?%> 
								<%=sav_txn.transaction_date.to_formatted_s(:short)%>
							<%end%>
						</td>
						<td class="numeric-cell"><%=sav_txn.payee.name%></td>
						<td class="numeric-cell" style="color: green;border-right:none;width: 17%;"><%=number_to_currency(sav_txn.credit, precision: 1) %></td>
						<td class="actions-cell" style="">
							<div class="actions">
								<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
								 	edit_budget_transaction_path(sav_txn,transaction_type: 'savings'), {:remote => true, class: 'new-transaction-modal-link'} %>
								<%= link_to raw("<span class='glyphicon glyphicon-remove-circle' style='color: #999;' aria-hidden='true'></span>"), sav_txn, method: :delete,  data: { confirm: 'Are you sure?' }%>
							</div>
						</td>
					</tr>
					<tr id=<%=sav_txn.id.to_s + '_sav_txn_details'%> style="display:none;"></tr>	
				<%end%>
				<tr><td class="master-cell" colspan=5>Savings Expenses</td></tr>
				<%@budget.budget_transactions.savings_expense_transactions.each do |sav_exp_txn|%>
				<tr>
					<td style="width:30%;">
						<%unless sav_exp_txn.comments.nil?%> 
							<span class="glyphicon glyphicon-tag" style='color: #999;' aria-hidden="true"></span> 
						<%else%> 
							&nbsp;&nbsp;&nbsp; 
						<%end%> 
						<%=sav_exp_txn.payee.name%>
					</td>
					<td style="width:13%;">
						<%unless sav_exp_txn.transaction_date.nil?%> 
							<%=sav_exp_txn.transaction_date.to_formatted_s(:short)%>
						<%end%>
					</td>
					<td class="numeric-cell"><%=sav_exp_txn.account.name%></td>
					<td class="numeric-cell" style="color: red;border-right:none;width: 17%;"><%=number_to_currency(sav_exp_txn.debit, precision: 1) %></td>
					<td class="actions-cell" style="">
						<div class="actions">
							<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
							 	edit_budget_transaction_path(sav_exp_txn,transaction_type: 'savings_expense'), {:remote => true, class: 'new-transaction-modal-link'} %>
							<%= link_to raw("<span class='glyphicon glyphicon-remove-circle' style='color: #999;' aria-hidden='true'></span>"), sav_exp_txn, method: :delete,  data: { confirm: 'Are you sure?' }%>
						</div>
					</td>
				</tr>
				<tr id=<%=sav_exp_txn.id.to_s + '_sav_exp_txn_details'%> style="display:none;"></tr>	
			<%end%>
			<%blank_rows = budget_rows - (@budget.budget_transactions.savings_expense_transactions.count + @budget.budget_transactions.savings_transactions.count + 2)%>
			<%if blank_rows > 0%>
				<% (1..blank_rows).each do |i| %>
					<tr>
						<td style="width:30%;">&nbsp;</td>
						<td style="width:13%;"></td>
						<td class="numeric-cell"></td>
						<td class="numeric-cell" style="border-right:none;width: 17%;"></td>
						<td class="actions-cell"></td>
					</tr>
				<%end%>
			<%end%>			
			</table>
		</div>
	</div>	
</div>