<%
	income_rows = 0
%>
<div class="panel panel-default tabs">
	<div class="budget-tabs">
		<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#tab-first" role="tab" data-toggle="tab" ><span class="fa fa-dashboard"></span>&nbsp;<%=Date::ABBR_MONTHNAMES[@budget.month].upcase%>&nbsp;<%=@budget.year%></a></li>
				<li><a href="#tab-second" role="tab" data-toggle="tab"><span class="fa fa-table"></span>&nbsp;Budget Worksheet</a></li>
				<li><a href="#tab-third" role="tab" data-toggle="tab" data-morris="mb" data-highcharts="c1,c2"><span class="fa fa-bar-chart-o"></span>&nbsp;Charts</a></li>
				<li><a href="#tab-fourth" role="tab" data-toggle="tab" data-morris="ml"><span class="fa fa-desktop"></span>&nbsp;Fourth</a></li>
		</ul>
		<div class="panel-body tab-content">
				<div class="tab-pane fade in active" id="tab-first">
					<div class="row">
							<div class="col-md-3">

									<!-- LIST GROUP WITH BADGES -->
									<div class="panel panel-default">
											<div class="panel-heading">
													<h3 class="panel-title">With Badges</h3>
											</div>
											<div class="panel-body">
													<ul class="list-group border-bottom">
															<li class="list-group-item">Lorem ipsum dolor sit amet<span class="badge">14</span></li>
															<li class="list-group-item">Mauris placerat justo ut augue<span class="badge badge-danger">8</span></li>
															<li class="list-group-item">Donec ac venenatis elit<span class="badge badge-info">7</span></li>
															<li class="list-group-item">Maecenas mauris diam<span class="badge badge-success">25</span></li>
															<li class="list-group-item">Curabitur porttitor massa justo<span class="badge badge-warning">58</span></li>
													</ul>
											</div>
									</div>
									<!-- END LIST GROUP WITH BADGES -->

							</div>

							<div class="col-md-4">

									<!-- CONTACTS -->
									<div class="panel panel-default">
											<div class="panel-heading">
													<h3 class="panel-title">Contacts</h3>
													<ul class="panel-controls">
															<li><a href="#"><span class="fa fa-plus"></span></a></li>
													</ul>
											</div>
											<div class="panel-body list-group list-group-contacts">
													<a href="#" class="list-group-item">
															<span class="contacts-title">John Doe</span>
															<p>UI/UX Designer</p>
													</a>
													<a href="#" class="list-group-item">
															<span class="contacts-title">Dmitry Ivaniuk</span>
															<p>Web Developer/Designer</p>
													</a>
													<a href="#" class="list-group-item">
															<span class="contacts-title">Nadia Ali</span>
															<p>Singer-Songwriter</p>
													</a>
											</div>
									</div>
									<!-- END CONTACTS -->

							</div>
							<div class="col-md-5">
								<div class="panel panel-default">
										<div class="panel-heading">
												<h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
												<ul class="panel-controls">
														<li>
																<%= link_to raw("<span class='fa fa-plus' aria-hidden='true'></span>"),
																	new_task_path(budget_id: @budget.id), {:remote => true, class: 'new-task-modal-link'} %>
														</li>
												</ul>
										</div>

											<div class="x-block ">
											<div class="panel-body x-block-content x-todo">

													<div class="x-todo-content scroll" style="max-height: 350px;">
														<%
															@tasks.each do |task|
																if task.priority == 1
																	priority_class = "fa fa-circle text-danger"
																elsif task.priority == 2
																	priority_class = "fa fa-circle text-success"
																else
																	priority_class = "fa fa-circle text-info"
																end
														%>
															<a href="/tasks">
															<div class="item">
																	<div class="widget-title">
																		<label class="check"><span class="<%=priority_class%>"></span></label>
																		<label class="check"><input type="checkbox" class="icheckbox"></label>
																		<%=task.title%>
																	</div>
																	<div class="footer">
																		<div class="pull-left"><span class="fa fa-clock-o"></span> added <%=distance_of_time_in_words_to_now(task.created_at)%> ago</div>
																		<div class="pull-right"><span class="fa fa-calendar"></span> <%=task.due_by.strftime("%b %d, %Y") unless task.due_by.nil?%></div>
																	</div>
															</div>
														</a>
														<%end%>
													</div>
													<div class="x-todo-footer">
															<div class="pull-right"></div>
													</div>
											</div>
										</div>
									</div>
							</div>
					</div>

				</div>
				<div class="tab-pane" id="tab-second">
					<%=render 'show_budget_summary'%>
					<%=render 'show_budget_totals'%>
					<%=render 'show_budget_details'%>
				</div>
				<div class="tab-pane" id="tab-third">
					<div class="panel panel-default">
						<p>Vestibulum cursus augue sed leo tempor, at aliquam orci dictum. Sed mattis metus id velit aliquet, et interdum nulla porta. Etiam euismod pellentesque purus, in fermentum eros venenatis ut. Praesent vitae nibh ac augue gravida lacinia non a ipsum. Aenean vestibulum eu turpis eu posuere. Sed eget lacus lacinia, mollis urna et, interdum dui. Donec sed diam ut metus imperdiet malesuada. Maecenas tincidunt ultricies ipsum, lobortis pretium dolor sodales ut. Donec nec fringilla nulla. In mattis sapien lorem, nec tincidunt elit scelerisque tempus.</p>
						<%= content_tag :div," ",id: "annual", data: {budgetitems: budget_items_chart_data}%>
						<%= content_tag :div," ",id: "annual2", data: {budgetcategories: budget_categories_chart_data,amount: budget_amount_chart_data,expenses: budget_expenses_chart_data,balance: budget_balance_chart_data}%>
						<%= content_tag :div," ",id: "annual3", data: {budgetcategories: budget_categories_chart_data,amount: budget_amount_chart_data,expenses: budget_expenses_chart_data,balance: budget_balance_chart_data}%>

					</div>
				</div>
				<div class="tab-pane" id="tab-fourth">
						<p>In mattis sapien lorem, nec tincidunt elit scelerisque tempus. Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus, sed aliquet neque posuere.</p>
						<p>Donec tristique eu sem et aliquam. Proin sodales elementum urna et euismod. Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus, sed aliquet neque posuere.</p>
						<%= content_tag :div," ",id: "annual4"%>
						<%=render 'budget_dashboard'%>
				</div>
		</div>
	</div>
</div>
<%unless @budget.nil?%>
	<%= link_to raw("<span class='glyphicon glyphicon-import' style='color: #999;' aria-hidden='true'></span>"),
			import_transactions_open_file_path(budget_id: @budget.id), {:remote => true, class: 'import-transactions-modal-link'} %>
	<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
			new_budget_transaction_path(transaction_type: 'miscellaneous',budget_id: @budget.id), {:remote => true, class: 'new-transaction-modal-link'} %>
<%end%>
