<%
	income_rows = 0
%>
<div class="tabs">
	<div class="budget-tabs">
		<ul class="nav nav-tabs" role="tablist">
				<li><a href="#tab-first" role="tab" data-toggle="tab"  data-morris="none" data-highcharts="budgeted_percentage_spent_categories,total_pie,misc_pie"><span class="fa fa-dashboard"></span>&nbsp;<%=Date::ABBR_MONTHNAMES[@budget.month].upcase%>&nbsp;<%=@budget.year%></a></li>
				<li><a href="#tab-second" role="tab" data-toggle="tab"  data-morris="none" data-highcharts="none"><span class="fa fa-table"></span>&nbsp;Budget Worksheet</a></li>
				<li  class="active"><a href="#tab-third" role="tab" data-toggle="tab" data-morris="mb,payee_spend_bar,misc_expenses_bar,misc_master_expenses_bar" data-highcharts="c2,stats_summary_bar,stats_misc_categories_pie,stats_misc_master_categories_pie,payee_spend_pie"><span class="fa fa-bar-chart-o"></span>&nbsp;Charts</a></li>
				<li><a href="#tab-fourth" role="tab" data-toggle="tab" data-morris="ml" data-highcharts="none"><span class="fa fa-desktop"></span>&nbsp;Fourth</a></li>
				<li class="pull-right" style="height: 100%;">
					<%unless @budget.nil?%>
					<ul class="panel-controls">
							<li>
								<%= link_to raw("<span class='fa fa-download fa-lg'></span>"),
										import_transactions_open_file_path(budget_id: @budget.id), {:remote => true, class: 'import-transactions-modal-link'} %>
							</li>
							<li>
								<%= link_to raw("<span class='fa fa-plus fa-lg'></span>"),
										new_budget_transaction_path(transaction_type: 'miscellaneous',budget_id: @budget.id), {:remote => true, class: 'new-transaction-modal-link'} %>
							</li>
					</ul>
					<%end%>

				</li>

		</ul>
		<div class="panel-body tab-content">
				<div class="tab-pane fade in " id="tab-first">
					<%=render "budgets/dashboard/budget_dashboard"%>
				</div>

				<div class="tab-pane fade in" id="tab-second">
					<%=render 'budgets/worksheet/show_budget_summary'%>
					<%=render 'budgets/worksheet/show_budget_totals'%>
					<%=render 'budgets/worksheet/show_budget_details'%>
				</div>
				<div class="tab-pane fade in active" id="tab-third">
					<%=render "budget_stats"%>
				</div>
				<div class="tab-pane fade in" id="tab-fourth">
						<p>In mattis sapien lorem, nec tincidunt elit scelerisque tempus. Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus, sed aliquet neque posuere.</p>
						<p>Donec tristique eu sem et aliquam. Proin sodales elementum urna et euismod. Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus, sed aliquet neque posuere.</p>
						<%= content_tag :div," ",id: "annual4"%>
				</div>
		</div>
	</div>
</div>
