<!-- START ALERTS -->
<% if @income.errors.any? %>
  <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> <%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:
      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<%end%>
<!-- END ALERTS -->

<%= form_for(@income,html: {class: "form-horizontal"}) do |f| %>
<div class="panel-body">

  <div class="form-group">
      <%= f.label :description, {class: "col-md-3 col-xs-12 control-label"}%>
      <div class="col-md-6 col-xs-12">
          <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
              <%= f.text_field :description, {class: "form-control"} %>
          </div>
          <span class="help-block">Income Description</span>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :amount, {class: "col-md-3 col-xs-12 control-label"}%>
      <div class="col-md-6 col-xs-12">
          <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
              <%= f.number_field :amount, {class: "form-control"} %>
          </div>
          <span class="help-block">The amount to be credited per pay cycle</span>
      </div>
  </div>

  <div class="form-group">
      <label class="col-md-3 col-xs-12 control-label">Select</label>
      <div class="col-md-6 col-xs-12">
        <%= f.select "account_id", options_from_collection_for_select(Account.all.active, :id, :name,@income.account.id),{ :prompt => "Select Account..."},{ class: "form-control select"}%>
        <span class="help-block">Account where the income is to be credited</span>
      </div>
  </div>

<div class="form-group">
    <%= f.label "Active", {class: "col-md-3 col-xs-12 control-label"}%>
    <div class="col-md-6 col-xs-12">
      <label class="check">
          <%= f.radio_button :is_active, true, {class: "iradio"}-%>
          True
      </label>
      <label class="check">
          <%= f.radio_button :is_active, false,{class: "iradio"}-%>
          False
      </label>
      <span class="help-block">Is the income current</span>
    </div>
</div>

<div class="form-group">
    <%= f.label "Income Frequency", {class: "col-md-3 col-xs-12 control-label"}%>
    <div class="col-md-6 col-xs-12">
      <span class="help-block">Weekly</span>
      <label class="check">
          <%= f.radio_button :weekly, true, {class: "iradio", id: "income-radio-weekly-true"}-%>
          True
      </label>
      <label class="check">
          <%= f.radio_button :weekly, false,{class: "iradio", id: "income-radio-weekly-false"}-%>
          False
      </label>
      <span class="help-block">Fortnightly</span>
      <label class="check">
          <%= f.radio_button :fortnightly, true,{class: "iradio", id: "income-radio-fortnightly-true"}-%>
          True
      </label>
      <label class="check">
          <%= f.radio_button :fortnightly, false,{class: "iradio", id: "income-radio-fortnightly-false"}-%>
          False
      </label>
      <span class="help-block">Monthly</span>
      <label class="check">
          <%= f.radio_button :monthly, true, {class: "iradio", id: "income-radio-monthly-true"}-%>
          True
      </label>
      <label class="check">
          <%= f.radio_button :monthly, false,{class: "iradio", id: "income-radio-monthly-false"}-%>
          False
      </label>
      <br/><br/>
      <span class="help-block">The income frequency when the amount is to be credited</span>
    </div>
</div>
</div>
<div class="panel-footer">
    <%= link_to 'Back', incomes_path, {class: "btn btn-default"} %>
    <%= f.submit nil, {class: "btn btn-success pull-right"} %>
</div>

<% end %>
