<div class="row" id="import-preview-container">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
					<h3 class="panel-title">Import Summary</h3>
					<ul class="panel-controls">
							<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
					</ul>
			</div>
			<div id="import-preview-pane">
				<div id="import-preview-pane-content">
					<%ImportedTransaction.all.group(:budget_id).count.each do |budget_id|%>
						<%credits = ImportedTransaction.where('budget_id = ?',budget_id[0]).group(:category_id).sum(:credit)%>
						<%debits = ImportedTransaction.where('budget_id = ?',budget_id[0]).group(:category_id).sum(:debit)%>
						<table class="table table-striped" style="border-top: 1px solid #999;">
							<thead>
								<th style="width: 5%;">Check</th>
								<th style="width: 50%;">Payee</th>
								<th style="width: 15%;text-align: right;">Credit</th>
								<th style="width: 15%;text-align: right;">Debit</th>
								<th style="width: 15%;text-align: right;">Balance</th>
							</thead>

							<%budget = Budget.find(budget_id[0])%>
							<tr><td colspan=5 style="font-weight: bold;"><%=Date::ABBR_MONTHNAMES[budget.month].upcase%>&nbsp;<%=budget.year%><td></tr>
							<%debits.map.with_index do |summary,index|%>
							<%category = Category.find(summary[0])%>
								<tr>
									<td style="width: 10%;padding-left: 5px !important;">
										<%=check_box_tag 'check'%>
									</td>
									<td style="width: 45%;"><%=category.name%></td>
									<td style="width: 15%;text-align: right;"><%=number_to_currency(credits[summary[0]], precision: 2)%></td>
									<td style="width: 15%;text-align: right;"><%=number_to_currency(summary[1], precision: 2)%></td>
									<td style="width: 15%;text-align: right;"><%=number_to_currency(summary[1].to_f + credits[summary[0]].to_f, precision: 2)%></td>
								</tr>
							<%end%>
							<tr style="font-weight: bold;"><td>Total</td><td colspan=4 style="text-align: right;"><%=ImportedTransaction.where('budget_id = ?',budget_id[0]).sum(:debit) + ImportedTransaction.where('budget_id = ?',budget_id[0]).sum(:credit)%></td></tr>
						</table>
					<%end%>
				</div>
				<div class="panel-footer">
					<div class="pull-right">
						<%= link_to "Close",@budget, class: "btn btn-default"%>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
