<%= form_for(@budget_income) do |f| %>
  <% if @budget_income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_income.errors.count, "error") %> prohibited this budget_income from being saved:</h2>

      <ul>
      <% @budget_income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :budget_id %><br>
    <%= f.number_field :budget_id %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.number_field :account_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
