<div class="content-frame">

  <div class="content-frame-right" style="background: #2D3945;color: #94ABBA;">
    <div style="border-bottom: 1px solid #555;">
      <div style="text-align:center;">
        <h3 style="color:white;"><%=@budget_year%></h3>
      </div>
      <div style="text-align:center;padding-bottom: 10px;">
        All categories and accounts included
      </div>
    </div>
    <div style="border-bottom: 1px solid #555;padding-top: 10px;">
      <div style="text-align:center;">
        <h6 style="color:#94abba;">TOTAL SPENDING</h6>
      </div>
      <div style="text-align:center;padding-bottom: 10px;">
        <h3 style="color:white;"><%=number_to_currency(121)%></h3>
        For this timeframe
      </div>
    </div>
    <div style="border-bottom: 1px solid #555;padding-top: 10px;">
      <div style="text-align:center;">
        <h6 style="color:#94abba;">AVERAGE SPENDING</h6>
      </div>
      <div style="text-align:center;padding-bottom: 10px;">
        <h3 style="color:white;"><%=number_to_currency(1212)%></h3>
        Per Month
      </div>
    </div>
    <div class="">
      <table class="" style="width:100%;">
        <thead>
          <th style="line-height: 20px;padding:5px;">Category</th>
          <th style="line-height: 20px;text-align:right;">Spend</th>
        </thead>

      </table>
    </div>
  </div>

  <div class="content-frame-body content-frame-body-left" style="padding-top: 10px!important;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>Annual Summary</h3>
                <span>Annual Income, Expense and Savings report</span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
          <div>
            <%= content_tag :div," ",id: "summaryreport", data: {
                          overallsummarymonths: report_months_data,
                          overallsummaryincomes: overall_summary_report_incomes_data,
                          overallsummaryexpenses: overall_summary_report_expenses_data,
                          overallsummarysavings: overall_summary_report_savings_data,
                          incomeexpensedifference: report_income_expense_difference_data,
                          overallpiedata: overall_pie_data_for_summary}%>
          </div>
          <div><%= render 'annual_report_table' %></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title-box">
                <h3>Annual Expense Report</h3>
                <span>Budget expense plus overall expense report</span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <%= content_tag :div," ",id: "monthlyexpensesreport", data: {overallsummarymonths: report_months_data,monthlyexpenses: report_expenses_data}%>
          </div>
          <div class="col-md-6">
            <%= content_tag :div," ",id: "overallexpensesreport", data: {overallsummarymonths: report_months_data,overallexpenses: overall_summary_report_expenses_data}%>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title-box">
              <h3>Annual Savings Report</h3>
              <span>Monthly Savings plus overall savings report</span>
            </div>
            <ul class="panel-controls" style="margin-top: 2px;">
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <%= content_tag :div," ",id: "monthlysavingsreport", data: {overallsummarymonths: report_months_data,monthlysavings: report_savings_data}%>
          </div>
          <div class="col-md-6">
            <%= content_tag :div," ",id: "overallsavingsreport", data: {overallsummarymonths: report_months_data,overallsavings: overall_summary_report_savings_data}%>
          </div>
        </div>
    </div>

  </div>

</div>
