<div class="annual-report">

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th style="background: none!important;"><%=@budget_year%></th>
        <%@annual_report[:month_name].each do |month_name|%>
          <th><strong><%=month_name%></strong></th>
        <%end%>
        <th>Totals</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="heading-column-cell report-cell">Income</td>
        <%@annual_report[:income].each do |income|%>
          <td class="number-cell report-cell"><%=number_to_currency(income) unless income.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">Expenses</td>
        <%@annual_report[:expenses].each do |expense|%>
          <td class="number-cell report-cell"><%=number_to_currency(expense) unless expense.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">Savings</td>
        <%@annual_report[:savings].each do |saving|%>
          <td class="number-cell report-cell"><%=number_to_currency(saving) unless saving.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">savings_expenses</td>
        <%@annual_report[:savings_expenses].each do |savings_expense|%>
          <td class="number-cell report-cell"><%=number_to_currency(savings_expense) unless savings_expense.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">total_expenses</td>
        <%@annual_report[:total_expenses].each do |total_expense|%>
          <td class="number-cell report-cell"><%=number_to_currency(total_expense) unless total_expense.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">overall_savings</td>
        <%@annual_report[:overall_savings].each do |overall_saving|%>
          <td class="number-cell report-cell"><%=number_to_currency(overall_saving) unless overall_saving.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">remaining</td>
        <%@annual_report[:remaining].each do |remaining|%>
          <td class="number-cell report-cell"><%=number_to_currency(remaining) unless remaining.nil?%></td>
        <%end%>
      </tr>

      <tr>
        <td class="heading-column-cell report-cell">misc_percentage</td>
        <%@annual_report[:misc_percentage].each do |misc_percentage|%>
          <td class="number-cell report-cell"><%=(misc_percentage.to_s + '%') unless misc_percentage.nil?%> </td>
        <%end%>
      </tr>

    </tbody>
</table>

</div>
