<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>MyBudget</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application',  params[:controller], 'data-turbolinks-track'  => false %>

        <%= csrf_meta_tags %>
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/index.html">XXX</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>

                    <li class="profile">
                          <div id="sidebar-wrapper">
                          <%unless @budget.nil?
                            month = @budget.month.nil? ? params[:month].to_i : @budget.month
                            year = @budget.year.nil? ? params[:year].to_i : @budget.year
                          %>
                              <div class="inside-sidebar" id="budget-navbar">
                                <ul>
                                  <li class="year-item">
                                    <div class="col-md-2">
                                      <%=link_to raw("<span class='fa fa-chevron-left'></span>"), show_or_create_budget_path(month: month,year: (year-1))%>
                                    </div>
                                    <div class="col-md-8">
                                      <bold><%=year%></bold>
                                    </div>
                                    <div class="col-md-2">
                                      <%=link_to raw("<span class='fa fa-chevron-right'></span>"), show_or_create_budget_path(month: month,year: (year+1))%>
                                    </div>
                                  </li>
                                </ul>
                                <ul>
                                <%I18n.t("date.abbr_month_names").drop(1).map.with_index { |month_name,index|
                                    active = false
                                    last = false
                                    if month_name == I18n.t("date.abbr_month_names")[month]
                                      active = true
                                    end
                                    if index == 11
                                      last = true
                                    end
                                  %>

                                  <%if active && last%>
                                    <li class="active last">
                                  <%elsif active && !last%>
                                    <li class="active">
                                  <%elsif !active && last%>
                                    <li class="last">
                                  <%else%>
                                    <li>
                                  <%end%>
                                    <%=link_to month_name, show_or_create_budget_path(month: index+1,year: @budget.year)%>
                                  </li>
                                <%}%>
                                </ul>
                            </div>
                          <%end%>
                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>

                    <!-- <li class="xn-openable active">
                      <div class="form-group inside-sidebar">
                          <div class="list-group border-bottom">
                              <a href="#" class="list-group-item"><span class="fa fa-circle text-primary"></span> Project #1</a>
                              <a href="#" class="list-group-item"><span class="fa fa-circle text-success"></span> Personal</a>
                              <a href="#" class="list-group-item"><span class="fa fa-circle text-warning"></span> Project #2</a>
                              <a href="#" class="list-group-item"><span class="fa fa-circle text-danger"></span> Meetings</a>
                              <a href="#" class="list-group-item"><span class="fa fa-circle text-info"></span> Work</a>
                          </div>
                      </div>
                    </li> -->


                    <%unless @budget.nil?%>
                    <li class="xn-openable">
                      <a href="#">
                        <span class="fa fa-credit-card"></span>
                        <span class="xn-text">Budget Accounts</span>
                        <span class="pull-right" style="display: inline-block;width: 40%;text-align: right;padding-right: 7%;">
                          <%=number_to_currency(@budget.budget_accounts.sum(:balance),:precision => 2)%>
                        </span>
                      </a>
  						        <ul class="nav nav-sidebar inner-nav">
    								    <%@budget.budget_accounts.each do |budget_account|%>
        					      <%unless @account.nil?%>
        									<%if @account.id == budget_account.account.id%>
        										<li class="active">
        									<%else%>
        										<li>
        									<%end%>
        								<%else%>
          								<li>
        								<%end%>
        									<%=link_to budget_transactions_path(budget_id: budget_account.budget.id,account_id: budget_account.account.id) do%>
        									<div>
        										<div style="display: inline-block;width: 60%;"><%=budget_account.account.name%></div>
          										<%if budget_account.balance < 0%>
            										<div class="text-danger" style="display: inline-block;width: 38%;text-align: right;">
          										<%else%>
            										<div style="display: inline-block;width: 38%;text-align: right;">
          										<%end%>
          										  <%=number_to_currency(budget_account.balance,:precision => 2)%>
        										    </div>
        									</div>
        									<div>
        										<div style="display: inline-block;width: 60%;"></div>
        										<%
        											budget_transactions = BudgetTransaction.where('budget_id =? and account_id = ?',budget_account.budget.id, budget_account.account.id)
        											budget_withdrawals = BudgetTransaction.where('budget_id = ? and payee_id = ?',budget_account.budget.id, budget_account.account.payee.id)
        											nonconciled_total = (budget_transactions.nonconciled_transactions.sum(:credit) + budget_withdrawals.nonconciled_transactions.sum(:debit))- (budget_transactions.nonconciled_transactions.sum(:debit) + budget_withdrawals.nonconciled_transactions.sum(:credit))
        										%>
        										<div class="text-danger" style="display: inline-block;width: 38%;text-align: right;">
        											<%=number_to_currency(nonconciled_total,:precision => 2)%>
        										</div>
        									</div>
        									<%end%>

        								</li>
        								<%end%>
        					      </ul>
                    </li>

                    <!-- ACCCOUNTS LIST -->
                    <li class="xn-openable">
                      <a href="#">
                        <span class="fa fa-money"></span>
                        <span class="xn-text">Budget AccountsW</span>
                        <span class="pull-right" style="display: inline-block;width: 40%;text-align: right;padding-right: 7%;">
                          <%=number_to_currency(@budget.budget_accounts.sum(:balance),:precision => 2)%>
                        </span>
                      </a>
                      <ul>
                        <li>
                          <div class="form-group inside-sidebar">
                              <div class="list-group border-bottom">
                                  <%@budget.budget_accounts.each do |budget_account|%>
                                    <%=link_to budget_transactions_path(budget_id: budget_account.budget.id,account_id: budget_account.account.id),{class: "list-group-item"} do%>

                                    <div>
                                      <span class="fa fa-circle text-primary"></span>
                                      <span style="display: inline-block;width: 58%;"><%=budget_account.account.name%></span>
                                        <%if budget_account.balance < 0%>
                                          <span class="text-danger" style="display: inline-block;width: 30%;text-align: right;">
                                        <%else%>
                                          <span style="display: inline-block;width: 30%;text-align: right;">
                                        <%end%>
                                          <%=number_to_currency(budget_account.balance,:precision => 2)%>
                                        </span>
                                    </div>
                                    <div>
                                      <div style="display: inline-block;width: 60%;"></div>
                                      <%
                                        budget_transactions = BudgetTransaction.where('budget_id =? and account_id = ?',budget_account.budget.id, budget_account.account.id)
                                        budget_withdrawals = BudgetTransaction.where('budget_id = ? and payee_id = ?',budget_account.budget.id, budget_account.account.payee.id)
                                        nonconciled_total = (budget_transactions.nonconciled_transactions.sum(:credit) + budget_withdrawals.nonconciled_transactions.sum(:debit))- (budget_transactions.nonconciled_transactions.sum(:debit) + budget_withdrawals.nonconciled_transactions.sum(:credit))
                                      %>
                                      <div class="text-danger" style="display: inline-block;width: 38%;text-align: right;">
                                        <%=number_to_currency(nonconciled_total,:precision => 2)%>
                                      </div>
                                    </div>
                                    <%end%>
                                  <%end%>
                              </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <!-- END ACCCOUNTS LIST -->
                    <%end%>

                    <li class="xn-title">Accounts</li>

                    <%@net_worth[:accounts].each do|master_account_type|%>
                    <li class="xn-openable">
                      <a href="#" style="width: 100%;">
                        <span class="fa fa-credit-card"></span>
                        <span class="xn-text"><%=master_account_type[:name]%></span>
                        <span class="pull-right" style="display: inline-block;width: 40%;text-align: right;padding-right: 7%;">
                          <%=number_to_currency(master_account_type[:total],:precision => 2)%>
                        </span>
                      </a>
                      <ul class="nav nav-sidebar inner-nav">
                        <%master_account_type[:accounts].each do|account_type|%>
                          <li>
                            <a href="#">
                              <div style="display: inline-block;width: 100%;"><strong><%=account_type[:name]%></strong></div>
                            </a>
                          </li>
                          <%account_type[:accounts].each do|account_detail|%>
                            <li>
                                <div style="padding: 2px 15px 2px 25px;">
                                  <div style="display: inline-block;width: 60%;"><%=account_detail[:name]%></div>
                                  <%if account_detail[:balance] < 0%>
                                    <div class="text-danger" style="display: inline-block;width: 38%;text-align: right;">
                                  <%else%>
                                    <div style="display: inline-block;width: 38%;text-align: right;">
                                  <%end%>
                                    <%=number_to_currency(account_detail[:balance],:precision => 2)%>
                                    </div>
                                </div>
                            </li>
                          <%end%>
                        <%end%>
                      </ul>
                    </li>
                    <%end%>
                </ul>

                <!-- END X-NAVIGATION -->
                <div class="sidebar-footer">

                  <%unless @budget.nil?%>
                  	<%= link_to raw("<span class='glyphicon glyphicon-import' style='color: #999;' aria-hidden='true'></span>"),
                  			import_transactions_open_file_path(budget_id: @budget.id), {:remote => true, class: 'import-transactions-modal-link'} %>
                  	<%= link_to raw("<span class='glyphicon glyphicon-pencil' style='color: #999;' aria-hidden='true'></span>"),
                  			new_budget_transaction_path(transaction_type: 'miscellaneous',budget_id: @budget.id), {:remote => true, class: 'new-transaction-modal-link'} %>
                    <%= link_to raw("<span class='glyphicon glyphicon-plus' style='color: #999;' aria-hidden='true'></span>"),
                  			new_account_transaction_path(budget_id: @budget.id), {:remote => true, class: 'new-account-transaction-modal-link'} %>
                  <%end%>
                </div>
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                  <!-- START X-NAVIGATION VERTICAL -->
                  <%=render 'layouts/top_navigation'-%>
                  <!-- END X-NAVIGATION VERTICAL -->
                  <%=yield%>

                  <div class="modal fade" id="importTransactionsModal" tabindex="-1" role="dialog" aria-labelledby="importTransactionsModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="incomeSplitsModal" tabindex="-1" role="dialog" aria-labelledby="incomeSplitsModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="editBudgetItemModal" tabindex="-1" role="dialog" aria-labelledby="editBudgetItemModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newTransactionModal" tabindex="-1" role="dialog" aria-labelledby="newTransactionModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newBudgetIncomeModal" tabindex="-1" role="dialog" aria-labelledby="newBudgetIncomeModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newAccountTransactionModal" tabindex="-1" role="dialog" aria-labelledby="newAccountTransactionModalLabel" aria-hidden="true"></div>
                <div class="x-content-footer">
                    Copyright © 2015 ATLANT. All rights reserved
                </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <%=render 'layouts/modal_messages'-%>
        <!-- END MESSAGE BOX-->
        <%= javascript_include_tag 'atlant/settings', 'data-turbolinks-track'  => false %>
        <%= stylesheet_link_tag    'atlant/theme-default', media: 'all', 'data-turbolinks-track' => true %>
        <!-- START PRELOADS -->
        <!-- <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio> -->
    </body>
</html>
