<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>MyBudget</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application',  params[:controller], 'data-turbolinks-track'  => false %>

        <%= csrf_meta_tags %>
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <%=render 'layouts/sidebar'%>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                  <!-- START X-NAVIGATION VERTICAL -->
                  <%=render 'layouts/top_navigation'-%>
                  <!-- END X-NAVIGATION VERTICAL -->
                  
                  <%=yield%>

                  <div class="modal fade" id="importTransactionsModal" tabindex="-1" role="dialog" aria-labelledby="importTransactionsModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="incomeSplitsModal" tabindex="-1" role="dialog" aria-labelledby="incomeSplitsModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="editBudgetItemModal" tabindex="-1" role="dialog" aria-labelledby="editBudgetItemModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newTransactionModal" tabindex="-1" role="dialog" aria-labelledby="newTransactionModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newBudgetIncomeModal" tabindex="-1" role="dialog" aria-labelledby="newBudgetIncomeModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true"></div>
                  <div class="modal fade" id="newAccountTransactionModal" tabindex="-1" role="dialog" aria-labelledby="newAccountTransactionModalLabel" aria-hidden="true"></div>
                <div class="x-content-footer">
                    Copyright © 2015 ATLANT. All rights reserved
                </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <%=render 'layouts/modal_messages'-%>
        <!-- END MESSAGE BOX-->
        <!-- <%= javascript_include_tag 'atlant/settings', 'data-turbolinks-track'  => false %> -->
        <%= stylesheet_link_tag    'atlant/theme-default', media: 'all', 'data-turbolinks-track' => true %>
        <!-- START PRELOADS -->
        <!-- <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio> -->
    </body>
</html>
