<!DOCTYPE html>
<html>
<head>
  <title>MyBudget</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Top Navigation Bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Dashboard", dashboard_index_path %></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Help</a></li>
				</ul>
				<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>
		</div>
	</nav>
	

	<div class="sidebar-panel">
		<div class="accordian" id="accordian2">
			<div class="accordian-group">
				<div class="accordian-heading">
					<a class="accordian-toggle" data-toggle="collapse" data-parent="#accordian2" href="#collapseOne">
						<div>Collapsible Group Item1</div>
					</a>	
				</div>	
				<div id="collapseOne" class="accoridian-body collapse in">
					<div class="accordian-inner">
						data
					</div>	
				</div>	
			</div>
			<div class="accordian-group">
				<div class="accordian-heading">
					<a class="accordian-toggle" data-toggle="collapse" data-parent="#accordian2" href="#collapseTwo">
						Collapsible Group Item2
					</a>	
				</div>	
				<div id="collapseTwo" class="accoridian-body collapse in">
					<div class="accordian-inner">
						data
					</div>	
				</div>	
			</div>
		</div>
	</div>	

<%= yield %>

</body>
</html>
